@page "/"
@using Finbuckle.MultiTenant;
@using Microsoft.AspNetCore.Http
@using ServerMultiTenant.Data;
@inject IHttpContextAccessor httpContextAccessor
@inject TenantHelper Helper


@if (!tenantFound || TenantInfo == null)
{
    <p><em>No Tenant Selected</em></p>
}
else
{
    <p><em>Current Tenant is @TenantInfo.Name</em></p>
}


@code
{
    private List<ToDoItem> ToDoItems { get; set; } = new List<ToDoItem>();
    private TenantInfo? TenantInfo { get; set; }
    bool tenantFound;

    protected override void OnInitialized()
    {
        try
        {
            TenantInfo = Helper.GetCurrentTenant();
            tenantFound = true;
        }
        catch (TenantNotFoundException)
        {
            tenantFound = false;
        }
    }
}
