@using Finbuckle.MultiTenant;
@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject TenantHelper Helper
@implements IDisposable

<PageTitle>MultiTenantTodo</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="/">@CurrentTenent</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    public string CurrentTenent { get; set; } = "Root";
    private IDisposable registration;

    protected override void OnInitialized()
    {
        AquireTenant();
        registration = Navigation.RegisterLocationChangingHandler(LocationChangingHandler);
    }

    private ValueTask LocationChangingHandler(LocationChangingContext arg)
    {
        if (arg.TargetLocation == "/")
        {
            return ValueTask.CompletedTask;
        }

        try
        {
            CurrentTenent = Helper.GetCurrentTenant().Name!;
        }
        catch (TenantNotFoundException ex)
        {
            arg.PreventNavigation();
            Navigation.NavigateTo("/");
        }

        return ValueTask.CompletedTask;
    }

    public void AquireTenant()
    {
        if (Navigation.Uri != Navigation.Uri)
        {
            try
            {
                CurrentTenent = Helper.GetCurrentTenant().Name!;
            }
            catch (TenantNotFoundException ex)
            {
                Navigation.NavigateTo("/");
            }
        }
    }

    public void Dispose()
    {
        registration?.Dispose();
    }
}